.project-card{
  padding: 24px;
  border: 2px solid var(--accent-border);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;

  transition: .3s;
  &__name{
    font-size: 36px;
    text-align: center;
    margin-bottom: 12px;
  }
  &__description{
    width: 100%;
    text-align: justify;

    font-size: 18px;
    font-weight: 400;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;

    margin-bottom: 20px;
  }
  &__info{
    margin-top: auto;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    color: color-mix(in srgb, var(--accent) 75%, transparent);
  }

  &:hover{
    background: var(--accent-bg);
    box-shadow: var(--shadow);
  }
}