.header{
  position: relative;
  z-index: 10;

  border-bottom: 2px solid var(--accent-border);
  &__inner{
    padding: 20px 0;
    display: flex;
    align-items: center;

    gap: 12px;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    margin: 0 auto;

    font-size: 18px;
    font-weight: 600;
    font-family: var(--mono);

    & a{
      transition: .3s;
      &:hover, &.active{ color: var(--accent); }
    }
  }
  &__logo{
    position: relative;
    z-index: 2;
  }

  &__burger{
    position: relative;
    width: 24px;
    height: 18px;

    border: none; outline: none;
    background: transparent;
    color: var(--accent);
    padding: 0; margin: 0 0 0 auto;

    cursor: pointer;
    transition: .3s;
    & span{
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%);
      
      height: 2px;
      width: 100%;

      background: currentColor;
      border-radius: 10px;

      transition: inherit;
    }
    &::before,
    &::after{
      content: '';
      position: absolute;
      left: 50%;

      height: 2px;
      width: 100%;

      background: currentColor;
      border-radius: 10px;

      transition: inherit;
    }
    &::before{
      top: 0;
      transform: translate(-50%, 0);
    }
    &::after{
      top: 100%;
      transform: translate(-50%, -2px);
    }


    &.clicked{
      & span{ opacity: 0; }
      &::before{
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &::after{
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
  

  @media(min-width: 969px){
    &__nav{ display: contents; }
    &__burger{ display: none; }
  }
  @media(max-width: 968px){
    &__nav{
      inset: 0;
      position: fixed;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 32px;

      background: var(--bg-color);
      
      transition: .3s;
      &:not(.open){ transform: translateY(-150vh);}
    }
    &__list{
      gap: 12px;
      flex-direction: column;

      font-size: 24px;
    }
  }
}
@media(max-width: 968px){
  body:has(.header__nav.open){
    height: 100vh;
    overflow: hidden;
  }
}