.header{
  &__inner{
    padding: 20px 0;
    display: flex;
    align-items: center;

    gap: 12px;
  }
  &__list{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;

    margin: 0 auto;
  }
  

  @media(min-width: 969px){
    &__nav{ display: contents; }
  }
  @media(max-width: 968px){}
}